@import "tailwindcss";

@layer base {
  * {
    @apply border-gray-200;
  }

  .btn-soft {
    @apply bg-black w-full border font-semibold text-slate-100 py-2 rounded-lg
  }

  .action-btn {
    @apply text-center cursor-pointer border-t-2 border-r-2 hover:border-gray-300 border place-content-center w-full h-full text-blue-600
  }
}

@theme {
  --do-color: oklch(0.885 0.062 18.334);
  --do-color-secundary: oklch(0.704 0.191 22.216);
  --pending-color: oklch(0.924 0.12 95.746);
  --pending-color-secundary: oklch(0.681 0.162 75.834);
  --done-color: oklch(0.925 0.084 155.995);
  --done-color-secundary: oklch(0.432 0.095 166.913);
}